
$background-image-path: '../assets/pexels-francesco-ungaro.jpg';

body {
  @include body-background-image;
  height: 100vh;
  margin: 0;
}

.splash {
  position: absolute;
  left: 45%;
  top: 40%;
}
