
$background-image-path: '../assets/pexels-francesco-ungaro.jpg';

body {
  @include body-background-image;
  height: 100vh;
  margin: 0;
}

.splash {
  position: absolute;
  left: 45%;
  top: 40%;
}

.splash h1 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: bolder;
}
