body {
    background-image: url('pexels-francesco-ungaro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background: #f9f9f9;
    color: #333333;
    font-family: 'IBM Plex Serif', serif;
}