// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/// @type List
$text-font-stack: 'IBM Plex Serif', serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'IBM Plex Serif', serif !default;

